header {
    display: flex;
    align-items: center;

    h1 {
        display: inline-flex;
        flex-direction: column;

        span {
            font-size: var(--fs-primary);
            font-weight: var(--font-weight-medium);
        }
    }

    .link-your-list {
        display: inline-flex;
        align-items: center;
        border-radius: 45px;
        background-color: var(--background-dark);
        color: var(--text-highlight);
        padding: 0.7em 1em;
        font-size: var(--fs-s);

        svg {
            margin-left: 0.5em;
            fill: var(--text-highlight);
        }
    }

    .link-your-account {
        display: inline-flex;
        align-content: center;
        border-radius: 50%;
        box-shadow: 0px 0px 1px 1px #C9C9C9;
        border: 1px solid #C9C9C9;
        padding: 0.9em;
        margin-left: 0.5em;
    }
}

.index-main {
    h2 {
        max-width: 12ch;
    }

    .search-bar {
        display: flex;
        align-items: center;

        .svg-mic {
            position: relative;
            left: 3em;
            bottom: 3px;
        }

        input {
            padding: 2.5em 1em;
            width: 35em;
            border-radius: 3.5em;
            border: 2px solid #C9C9C9;

            &::placeholder {
                padding-left: 2em;
                font-size: var(--fs-s);
            }
        }

        button {
            position: relative;
            right: 6em;
        }
    }

    .pictures-reviewers {
        display: flex;
        align-items: center;

        img {
            &:nth-of-type(2) {
                position: relative;
                right: 3em;
            }

            &:nth-of-type(3) {
                position: relative;
                right: 6em;
            }
        }

        .svg-more-reviews {
            position: relative;
            right: 9em;
        }

        span {
            font-size: var(--fs-s);
            position: relative;
            right: 6em;
        }
    }

    .container-gift {
        background-color: var(--background-secondary);
        border-radius: 20px;

        .article-login {
            display:grid;
            grid-template-rows: 0.5fr 1fr 0.5fr;
            grid-template-areas:
              "title"
              "svg-img"
              "login"
            ;  

            border-radius: 21px;
            background-color: var(--background-grey);
            height: 33em;
            width: 23.5em;

            h3 {
                grid-area: title;
                display: flex;
                align-items: center;
                margin: 0 1em;
            }

            img, svg {
                grid-area: svg-img;
                display: flex;
                align-self: center;
                justify-self: center;
            }

            img {
                margin-left: 5em;
                margin-bottom: 5em;
            }

            svg {
                margin-top: 5em;
                margin-right: 5em;
            }

            span {
                grid-area: login;
                display: flex;
                align-self: center;
                justify-self: center;
                font-size: var(--fs-s);
                font-weight: var(--font-weight-medium);
                color: var(--text-highlight);
                background-color: var(--background-dark);
                padding: 1em;
                border-radius: 40px;
            }
        }
    }
}

.index-details {
    .add-to-bookmark {
        display: flex;
        align-items: center;
        background-color: var(--background-dark);
        color: var(--text-highlight);
        border: none;
        padding: 1em;
        border-radius: 25px;
        font-size: var(--fs-primary);

        svg {
            fill: var(--text-highlight);
            margin: 0 0.5em;
        }
    }

    .description {
        width: clamp(30ch, 90%, 60ch);
    }

    .gift-details {
        display: grid;
        grid-template-columns: min-content 1fr;
        gap: 1em;
        width: clamp(30ch, 80%, 60ch);
        align-items: center;
        border-top: 2px solid var(--background-grey);
        border-bottom: 2px solid var(--background-grey);
        padding: 1em 0;
    }

    .hoe-tevreden {
        display: grid;
        grid-template-columns: min-content min-content min-content 1fr;
        grid-template-areas:
        "straight happy surprised surprised-text"
        "box1 box2 box3 doomed-text"
        "box4 box5 box6 new-text"
        ;
        gap: 1em;
        margin: 1em 0;

        align-items: center;

        .svg-box:nth-of-type(1) {
            grid-area: box1;
        }           

        span {
            &:nth-of-type(1) {
                grid-area: surprised-text;
            }

            &:nth-of-type(2) {
                grid-area: doomed-text;
            }

            &:nth-of-type(3) {
                grid-area: new-text;
            }
        }
    }

    .where-to-buy {
        border-top: 2px solid var(--background-grey);
        border-bottom: 2px solid var(--background-grey);
        margin-bottom: 3em;

        h3{
            margin-top: 1em;
        }

        .buy-option {
            border: 1px solid black;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
            "img"
            "title"
            "store"
            ;
            width: 15.5em;
            margin-bottom: 1em;

            h3 {
                grid-area: title;
            }

            .svg-cart {
                grid-area: img;
                place-self: center;
            }

            img {
                grid-area: img;
            }

            span {
                grid-area: store;
                margin-top: 0.5em;
            }
        }
    }
}



/* uit partials */
/* in gift container van index pagina, en ook op de details pagina */
.article-gift {
    display:grid;
    grid-template-rows: min-content min-content 5.5em;
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "title"
      "saved-given"
    ;            

    border: 1px solid black;
    background-color: white;
    width: 23.5em;
    margin-bottom: 1em;

    .img-background {
        grid-area: img;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        margin-top: 0.5em;
    }

    .bookmark-add {
        grid-area: img;
        justify-self:end;
        align-self:start;
        margin: 1em;
        width: 75px;
        height: 75px;
    }

    .gift-title {
        grid-area: title;
        margin: .5em .5em;
    }
}

.saved-given {
    display: grid;
    grid-template-columns: min-content min-content min-content min-content;
    grid-template-areas:
    "img saved svg given"
    ;
    align-items: center;
    gap: 0.5em;

    img {
        grid-area: img;

        &:nth-of-type(2) {
            margin-left: 3em;
        }
    }

    span {
        text-wrap: nowrap;
    }
}