header {
    display: flex;
    align-items: center;
    h1 {
        display: inline-flex;
        flex-direction: column;

        span {
            font-size: var(--fs-primary);
            font-weight: var(--font-weight-medium);
        }
    }

    .link-your-list {
        display: inline-flex;
        align-items: center;
        border-radius: 45px;
        background-color: var(--background-dark);
        color: var(--text-highlight);
        padding: 0.7em 1em;
        font-size: var(--fs-button-s);

        svg {
            margin-left: 0.5em;
            fill: var(--text-highlight);
        }
    }

    .link-your-account {
        display: inline-flex;
        align-content: center;
        border-radius: 50%;
        box-shadow: 0px 0px 1px 1px #C9C9C9;
        border: 1px solid #C9C9C9;
        padding: 0.9em;
        margin-left: 0.5em;
    }
}

.index-main {
    .search-bar {
        display: flex;
        align-items: center;

        .svg-mic {
            position: relative;
            left: 3em;
            bottom: 3px;
        }

        input {
            padding: 2.5em 1em;
            width: 35em;
            border-radius: 3.5em;
            border: 2px solid #C9C9C9;

            &::placeholder {
                padding-left: 2em;
                font-size: var(--fs-button-s);
            }
        }

        button {
            position: relative;
            right: 6em;
        }
    }
}
